@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
  --mainBlue: #185BF1;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;

  --main-blue: #185BF1;
  --main-white: #f3f3f3;
  --back-color: #EBECF0;
  --grey-color: #8D96A8;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Overpass", sans-serif !important;
  background: var(--back-color) !important;
  color: var(--grey-color) !important;
}

.btn:focus {
  outline:none !important;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  & h1 {
    color: var(--mainBlue);
  }
}

.text-blue {
  color: var(--mainBlue); 
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.neumorphic-btn {
  font-size: 20px;
  border: none;
  padding: 10px 40px;
  border-radius: 40px;
  color: #6D7587;
  background-color: var(--back-color);
  /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
              -2px -2px 4px 2px rgba(255, 255, 255, 1), 
              inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
              inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(55, 84, 170, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow .25s ease !important;

  &:hover, &:active {
    color: #6D7587;
    text-decoration: none;
  }

  &:active {  
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, 0),
                inset 7px 7px 15px rgba(55, 84, 170, .15),
                inset -7px -7px 20px rgba(255, 255, 255, 1),
                0px 0px 4px rgba(255, 255, 255, .2) !important;
  }
}

.neumorphic-card {
  // display: block;
  background-color: var(--back-color);
  // padding: 40px;  
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;
  border-radius: 30px;
  // max-width: 300px;
  // width: min-content;
  height: 100%;
}

.neumorphic-card__title {
  color: #555F76;
  font-size: 22px;
  padding: 20px 0 10px;
  text-align: start;
}

.neumorphic-card__text {
  padding: 0 0 10px;
  text-align: start;
  color: #8D96A8;
}

.neumorphic-card__outer {
  overflow: hidden;    

  height: 100%;
  background-color: #f3f4f7;
  border-radius: 10px;
  border: 5px solid #f3f4f7;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2) !important;  
  margin: -5px;
}

.neumorphic-image {
  border-radius: 10px;
}

.neumorphic-btn-progress {
  padding: 0;
  margin: auto;
  border: none;
  outline: none;
  min-width: 50px;
  // min-height: 40px;
  


  &__back {
  min-width: 50px;

    background-color: var(--back-color);
    border-radius: 10px;
    // height: 24px;
    border: 4px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, 0),
                inset 7px 7px 15px rgba(55, 84, 170, .15),
                inset -7px -7px 20px rgba(255, 255, 255, 1),
                0px 0px 4px rgba(255, 255, 255, .2) !important;
  }

  &__bg {
    background-color: var(--main-blue);
    // height: 16px;
    // margin-top: -20px;
    // width: calc(100% - 4px);
    width: 100%;
    margin: 0 auto;
    // margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 1;
    
    p {
      padding: 0 15px;
    }
  }
}