@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
  --mainBlue: #185BF1;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;

  --light-blue: #009ffd;
  --main-dark: #232528;
  --main-blue: #185BF1;
  --main-white: #f3f3f3;
  --back-color: #EBECF0;
  --grey-color: #8D96A8;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Overpass", sans-serif !important;
  background: var(--back-color) !important;
  color: var(--grey-color) !important;
}

button, .btn {
  text-decoration: none;
  outline: none;

  &:hover, &:active, &:visited {
    text-decoration: none;
    outline: none;
  }
}

a {
  text-decoration: none;
  outline: none;

  &:hover, &:active, &:visited {
    text-decoration: none;
    outline: none;
  }
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  & h1 {
    color: var(--light-blue);
  }
}

.text-blue {
  color: var(--light-blue); 
}

.text-bright {
  color: var(--light-blue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--main-dark);
  border: 0.1rem solid var(--main-dark);

  &:hover {
    background: var(--main-dark);
    color: var(--main-white);
  }
}

.navbar-btn {
  color: var(--grey-color)!important;
}

.navbar-brand-block {
  width: 80px;
  max-width: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .navbar-brand {
    padding: 15px;
    transition: all .3s ease-in-out;
    // padding: 0;
    width: 100%;

    &:hover {
      opacity: .7;
    }
  }
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--orange);
}

.details-btn-block {
  a:first-child {
    button {
      margin-bottom: 20px;
    }
  }

  button {
    
  }
}

.neumorphic-btn {
  font-size: 20px;
  border: none;
  padding: 10px 40px;
  border-radius: 40px;
  // color: var(--grey-color);
  background-color: var(--back-color);
  /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
              -2px -2px 4px 2px rgba(255, 255, 255, 1), 
              inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
              inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(55, 84, 170, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) ;
  transition: all .25s ease;

  &:hover, &:active, &:focus {
    // color: inherit;
    text-decoration: none;
  }

  &:focus {
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(55, 84, 170, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) ;
  }

  &:active {  
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, 0),
                inset 7px 7px 15px rgba(55, 84, 170, .15),
                inset -7px -7px 20px rgba(255, 255, 255, 1),
                0px 0px 4px rgba(255, 255, 255, .2);
  }

  &.neumorphic-btn--danger {
    color: var(--red);
    padding-top: 14px;

    &:hover, &:active, &:visited {
      color: var(--red);
    }
  }

  &.neumorphic-btn--square {
    border-radius: 12px;
    min-width: 50px;
    min-height: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(2) {
      pointer-events: none;
    }
  }

  &[disabled] {
    pointer-events: none;
    color:  rgba(#8D96A8, .5);
  }
}

.neumorphic-card {
  display: block;
  // background-color: var(--main-white);
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px #ffffff,
              0px 0px 4px rgba(255, 255, 255, .2);
  border-radius: 30px;
  height: 100%;

  &__title {
    color: #555F76;
    font-size: 1rem;
    padding: 20px 0 20px;
    text-align: start;
  }

  &__text {
    padding: 20px 0 20px;
    text-align: center;
    color: var(--grey-color);
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  &__outer {
    // overflow: hidden;    
    height: 100%;
    // background-color: #f3f4f7;
    border-radius: 30px;
    border: 5px solid #f3f4f7;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px #ffffff,
                0px 0px 4px rgba(255, 255, 255, .2);  
    // margin: -5px;
  }
}

.calculate-block {
  > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.neumorphic-image {
  border-radius: 10px;
}

.neumorphic-btn-minimal {
  padding: 0;
  margin: auto;
  border: none;
  outline: none;
  min-width: 50px;
  margin-left: 20px;
  
  &:hover, &:active, &:visited {
    color: var(--main-white);
  }

  p {
    line-height: normal;
    margin-top: 0;
  }

  &__back {
    line-height: normal;
    min-width: 50px;
    min-height: 40px;
    padding: 3px 15px 0;
    background-color: #f3f4f7;
    border-radius: 10px;
    display: flex;
    color: var(--orange);
    justify-content: center;
    align-items: center;
    margin-bottom: -4px;
    border: 4px solid #f3f4f7;
    transition: box-shadow .25s ease !important;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, .2),
              inset 7px 7px 15px rgba(55, 84, 170, 0),
              inset -7px -7px 20px rgba(255, 255, 255, 0),
              0px 0px 4px rgba(255, 255, 255, 0) ;
     
    &:active {  
      box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                  -7px -7px 20px rgba(255, 255, 255, 1),
                  inset 0px 0px 4px rgba(255, 255, 255, 0),
                  inset 7px 7px 15px rgba(55, 84, 170, .15),
                  inset -7px -7px 20px rgba(255, 255, 255, 1),
                  0px 0px 4px rgba(255, 255, 255, .2);
    }            
  }

  &[disabled] {
    pointer-events: none;

    .neumorphic-btn-minimal__back {
      color:  rgba(#8D96A8, .5);
    }
  }
}

.modal {
  #modal {
    background: var(--back-color);
    border-radius: 30px;
  }
  
  .close-btn {
    color: var(--grey-color);
    transition: all .25s ease;
    background: none;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.3;

    &:hover, &:active, &:visited {
      color:  rgba(#8D96A8, .5);
    }
  }
}

.modal-footer {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;

  button, a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a {
    margin-top: 35px;
    text-decoration: none;
  }

  button {
    line-height: 1.6rem;
    padding-top: 14px;
  }
}

.close-btn {
  padding: 0;
  margin: auto;
  border: none;
  outline: none;
  min-width: 50px;
  min-height: 50px;
}